/* Navbar */
.logo {
  text-decoration: none;
}
.logo:visited {
  color: inherit;
}
.logo.mobile {
  display: flex;
  align-items: center;
}

/* landing page */
.Landing {
  display: flex;
  justify-content: center;
}

.landing-video {
  position: relative;
  object-fit: cover;
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}
.Title {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: white;
}